{% extends 'base.html' %}
{% block content %}
{% include 'inventory/navbar.html' %}
<div class="content-wrapper pl-2">
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="row ">
            <div class="col-9">
                {{forms.product_name.label_tag}}
                {{forms.product_name}}
            </div>

        </div>
        <div class="row">
            <div class="col-6">
                {{forms.total_product.label_tag}}
                {{forms.total_product}}
            </div>
            <div class="col-6">
                {{forms.reorder_level.label_tag}}
                {{forms.reorder_level}}
            </div>
        </div>

        <div class="row">

            <div class="col-lg-6">
                {{forms.purchase_price.label_tag}}
                {{forms.purchase_price}}
            </div>
        </div>
        <div class="row ">
            <div class="col-6">
                {{forms.selling_price.label_tag}}
                {{forms.selling_price}}
            </div>
            <div class="col-6">
                {{forms.discount_percent.label_tag}}
                {{forms.discount_percent}}
            </div>

        </div>
        <div class="row ">
            <div class="col-6">
                {{forms.product_image.label_tag}}
                {{forms.product_image}}
            </div>
            <div class="col-6">
                {{forms.bar_code.label_tag}}
                {{forms.bar_code}}
            </div>
        </div>
        <input type="submit" class="btn btn-primary mt-4" value="Update Product">
    </form>
</div>
{% endblock %}